body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.red {color: red;}

.main {
  font-size: 14px;
  line-height: 23px;
  padding: 30px;
  background-color: #EEE;
}

.main img { max-width: 100%; }

code {
  border-radius: 3px;
  padding: 2px 3px 2px 3px;
  background-color: rgba(27,31,35,0.15);
}
hr {
  color: #efefef;
  margin-bottom: 50px;
  margin-top: 25px;
}

table {
  padding: 5px;
  border-radius: 3px;
  border-collapse: collapse;
  font-size: 13px;
}
table > thead {
  background-color: #e5e5e5;
}
table th, table td {
  border: solid 1px #ccc;
  padding: 5px;
}

pre > code {
  display: block;
  border: 1px solid #ccc;
  padding: 10px 5px;
  background-color: #D8D8D8;
  overflow-x: auto;
}

.highlighter-coderay {
  border: 1px solid #ccc;
  padding: 10px 5px;
  background-color: #D8D8D8;
  overflow-x: auto;
}
